<div *ngIf="accountInfo">
  <div class="row">

    <div class="col-12 col-md-12 col-lg-12 hidden-md-up " style="text-align:center; margin: auto;">

      <div style="text-align:center;">
        <form (ngSubmit)="submitImage()">
        <!--<input type="hidden" name="old_imgUrl" value="{{accountInfo.user.avatarUrl}}">
        <input type="hidden" name="_id" value="{{accountInfo.user._id}}">-->
          <img class="img-fluid avatar-form-img"
          src="{{accountInfo.user.avatarUrl}}" alt="User image">
          <label style="" class="fileContainer"> Selecciona una imagen
          <input type="file" name="file" ng2FileSelect [uploader]="uploader"/>
          </label>
          <button style="clear:left;" class="btn" type="submit">Sube la imagen de perfil</button>
        </form>
        <div *ngIf="feedback" >
          <p class="alert alert-success"> {{feedback}} </p>
        </div>
      </div>


    <ul class="nav nav-tabs">
      <li class="nav-item" style="width: 25%; margin-left: -20px;">
        <a class="nav-link" (click)="clicked($event)" active href="#">Cuenta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="clicked($event)" href="#">Contraseña</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="clicked($event)" href="#">Dirección</a>
      </li>
      <li *ngIf="currentUser.role === 'DESIGNER' "  class="nav-item">
        <a class="nav-link" (click)="clicked($event)" href="#">Mis diseños</a>
      </li>
    </ul>
  </div>

  <div class="col-12 col-md-12 col-lg-2 hidden-sm-down border-right"
  style="text-align:center; margin: 20px auto 0 auto;">


      <div style="text-align:center;">
        <form (ngSubmit)="submitImage()">
        <!--<input type="hidden" name="old_imgUrl" value="{{accountInfo.user.avatarUrl}}">
        <input type="hidden" name="_id" value="{{accountInfo.user._id}}">-->
          <img class="img-fluid avatar-form-img"
          src="{{accountInfo.user.avatarUrl}}" alt="User image">
          <label class="fileContainer"> Selecciona una imagen
          <input type="file" name="file" ng2FileSelect [uploader]="uploader"/>
          </label>
          <button class="btn" type="submit">Sube la imagen de perfil</button>
        </form>

            <div *ngIf="feedback !== undefined" >
          <p class="alert-success avatar-succes"> {{feedback}} </p>
        </div>
      </div>


      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" (click)="clicked($event)" active href="#">Cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="clicked($event)" href="#">Contraseña</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="clicked($event)" href="#">Dirección</a>
        </li>
        <li *ngIf="currentUser.role === 'DESIGNER' " class="nav-item">
          <a class="nav-link" (click)="clicked($event)" href="#">Mis diseños</a>
        </li>

      </ul>
    </div>
    <div class="col-12 col-md-12 col-lg-10">
      <div *ngIf='accountInfo' style="margin: 30px 0 30px 0;">
        <account-info [accountInfo]="accountInfo" [currentView]="currentView" (submittedForm)="editAccount($event)">
        </account-info>
        <br>
        <div class="alert alert-success" role="alert" *ngIf="message">{{message}}</div>

      </div>
    </div>
  </div>
</div>
