<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-9">
            <form (ngSubmit)="submitForm()" #myForm="ngForm">

                <div class="form-group">
                    <label for="model">Title</label>
                    <input type="text" class="form-control" placeholder="Title" [(ngModel)]="designInfo.title" name="designInfo.title">
                 </div>

                 <div class="form-group">
                     <label for="model">DesignMainImg</label>
                     <input type="text" class="form-control" placeholder="DesignMainImg" [(ngModel)]="designInfo.designMainImg" name="designInfo.designMainImg">
                   </div>

                 <div class="form-group">
                   <label for="model">Images</label>
                   <input type="text" class="form-control" placeholder="Images" [(ngModel)]="img" name="img">
                 </div>

                 <div class="form-group">
                    <label for="model">Description</label>
                    <input type="text" class="form-control" placeholder="Description" [(ngModel)]="designInfo.description" name="designInfo.description">
                  </div>

                  <button class="btn btn-default" (click)="addImg()">Add Img</button>
                  <span class="label label-default" *ngFor="let img of designInfo.designGallery">{{ img }}</span>

              <button type="submit" class="btn btn-default">Add</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
