@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Cookie|Merienda|Oranienbaum|Rochester|Sacramento');

.font-deesa{
   font-family: 'Cookie', cursive;
   font-size: 30px;
   opacity: 1;
}

.font-deesa:hover{
  opacity:0.65;
}

.nav-item{
  font-size: 15px;
}

.btn-login{
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  background: rgb(192, 112, 172);

  &:hover {
    text-decoration: none;
  }
}
