@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Cookie|Merienda|Oranienbaum|Rochester|Sacramento');
@import url('https://fonts.googleapis.com/css?family=Nunito');

$bg-color: #e2e2e2;
$border: 2px solid #d7d7d8;
$font_deesa: 'Nunito', sans-serif;
$color_font_deesa: #444;


li>*{font-family: $font_deesa;
  font-size: 125%;
}

a{
  padding: 0;
}

.font-deesa{
   font-family: 'Cookie', cursive;
   font-size: 30px;
   opacity: 1;
}

.font-deesa:hover{
  opacity:0.65;
}

.navbar{
  background-color: #e4e4e4;

  &-nav>li{
    padding-left: 25px;
  }
}

.nav-link{
  padding: 0;
}

.nav-item{
  font-size: 15px;
}
.nav-item:hover>a, .nav-item:hover>a>i{
font-weight: bold;
color: #1e6189;
}

.btn-login{
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  background: rgb(192, 112, 172);

  &:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}

.color-blue{
  color: #3a8bbb;
  &:hover {
    font-weight: bold;
    color: #1e6189;
  }
}

.cart-items{
  font-size: 16px;
  font-weight: bold;
}

.fa-shopping-cart{
  font-size: 35px;
}

.avatar-img{
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

