@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Cookie|Merienda|Oranienbaum|Rochester|Sacramento');
@import url('https://fonts.googleapis.com/css?family=Nunito');

$bg-color: #e2e2e2;
$border: 2px solid #d7d7d8;
$font_deesa: 'Nunito', sans-serif;
$color_font_deesa: #444;


li>*{font-family: $font_deesa;
  font-size: 125%;
}

.font-deesa{
   font-family: 'Cookie', cursive;
   font-size: 30px;
   opacity: 1;
}

.font-deesa:hover{
  opacity:0.65;
}

.navbar{
  background-color: #e4e4e4;
}

.nav-item{
  font-size: 15px;
}

.btn-login{
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  background: rgb(192, 112, 172);

  &:hover {
    text-decoration: none;
  }
}
