 .wrap-inner{
  padding: 30px 30px 40px 30px;
  width: 100vw;
  box-sizing: border-box;
}

.initial-message{
  color: #bbb;
  margin: 40px;
  text-align: center;
  font-style: normal;
}

a{
  text-decoration: none;
}

.button-signup{
/*   padding: 10px 30px;
  display: inline-block;
  color: grey;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  cursor: pointer;
  background: rgb(41,187,234);
  border-radius: 4px; */

  //padding: 10px 30px;
  display: inline-block;
  color: white;
  padding: 10px 15px 11px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: .02em;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: rgb(65, 191, 230);;
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
}


