@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Cookie|Merienda|Oranienbaum|Rochester|Sacramento');
@import url('https://fonts.googleapis.com/css?family=Nunito');

$bg-color: #e2e2e2;
$border: 2px solid #d7d7d8;
$font_deesa: 'Nunito', sans-serif;
$color_font_deesa: #444;

button, span, p, a, small{
  font-family: $font_deesa;
}

.btn{
  display: block;
  background-color: $bg-color;
  border: $border;
  margin-top: 10px;
  &:hover{
    border: 2px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  &:focus{
    box-shadow: none;
  }
}

.input-group-addon{
padding: 5px;
}

.creator-avatar {
  width: 32px;
  height: 32px;
  margin: 1px 5px 0 0;
  border-radius: 50%;
  vertical-align: sub;
}
