.resize{
  object-fit: contain;
  height:100px;
  position: relative;
  left: 30%;
}

/* @media(max-width: 1000px) {
  .resize{
    left: 200px;
  }
} */


.item-box{
  cursor: pointer;
  position: relative;
}

.item-box:hover{
  border-left: 2px solid #64BDE2;
}

.card-img-overlay{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;
}

.card-text {
  width: 70%;
  padding-right: 5px;
  margin-top: -7px;
}

.card-title {
  color: #64BDE2;
  font-weight: bolder;
  font-size: 17px;
}