<div *ngIf="designInfo && productsTypes && userDesigns && commentsInfo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <design-info [designInfo]="designInfo"></design-info>
      </div>
      <br>
      <div class="col-md-6 d-flex align-items-center">
          <product-wrapper [productsTypes]="productsTypes"></product-wrapper>
      </div>
      <br>
    </div>

    <div class=row>
      <div class="col">
        <br>
        <comment-wrapper [commentsInfo]="commentsInfo"
        [designId]="designInfo._id"></comment-wrapper>
      </div>
    </div>
    <br>
  </div>
</div>

