<div *ngIf="designInfo && productsTypes&& userDesigns && commentsInfo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <design-info [designInfo]="designInfo"></design-info>
      </div>
      <br>
      <div class="col-md-6 d-flex align-items-center">

        <div class="row">
          <h5 class="info-h2">Imprime el diseño en alguno de estos productos!</h5>
          <small>*Camisetas 100% algodón impresas mediante serigrafía. Impresión de alta calidad mediante tecnología UV. Los pedidos
            que contengan tazas se retrasarán el envío unas 24/48h más</small>
          <product-wrapper [productsTypes]="productsTypes"></product-wrapper>
        </div>
      </div>
      <br>
    </div>

    <div class=row>
      <div class="col">
        <br>
        <comment-wrapper [commentsInfo]="commentsInfo" [designId]="designInfo._id"></comment-wrapper>
      </div>
    </div>
    <br>
  </div>
</div>

