@import url('https://fonts.googleapis.com/css?family=Nunito');

.container{
  padding-top: 30px;
/*   font-family: "Haas Grot Text R Web"; */
  font-family: 'Nunito', sans-serif;
  color: #444;
}

.info-h2 {
  //font-family: "Antic Slab", serif;
  font-weight: bold;
  color: black;
}

.row{
  padding-left: 10px;
  padding-right: 10px;
}
