<div class="container">
  <div>
    <div *ngIf=(designInfo)>
      <div class="row">
        <div class="col-md-4">
          <design-info [designInfo]="designInfo"></design-info>
        </div>
        <br>
        <div class="col-md-4">
          <product-wrapper [productsTypes]="productsTypes"></product-wrapper>
        </div>
        <br>
      </div>

      <div class=row>
        <comment-wrapper [designId]="designInfo._id" [commentsInfo]="commentsInfo"></comment-wrapper>
      </div>
      <br>

    </div>
  </div>
</div>

