<div class="card">
  <div class="card-header">
    <div class="media">
      <img class="d-flex mr-3 align-self-center resize-avatar" src="{{commentItem.creator.avatarUrl}}">
      <div class="media-body">
        <a [routerLink]="['/designs/', commentItem.creator.username]">
          <h5 class="mt-0 mb-1 lh-5">{{commentItem.creator.username}}</h5>
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>{{commentItem.message}}</p>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <small>{{commentItem.createdAt | date: 'dd-MM-yy' }}</small>
    <button class="btn" (click)="addLike()">
      <i class="fa fa-heart"></i> {{commentItem.likedBy.length}}</button>
  </div>
</div>
