@import url("https://fonts.googleapis.com/css?family=Nunito");
table, td, th, button, span, p, a {
  font-family: "Nunito", sans-serif;
}

td {
  vertical-align: middle;
}

th {
  vertical-align: middle;
}

.alert-link {
  cursor: pointer;
}

.btn {
  display: block;
  background-color: #e2e2e2;
  border: 2px solid #d7d7d8;
  margin-top: 10px;
  width: 100%;
}

.btn:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.cart-total {
  font-size: 39px;
}
