@import url("https://fonts.googleapis.com/css?family=Homemade+Apple|Luckiest+Guy|Monoton|Press+Start+2P|Shadows+Into+Light+Two");
.title {
  width: 100%;
  text-align: center;
  margin-top: 1em;
  color: black;
  font-family: 'Monoton', cursive;
  font-size: 40px;
}

.bottom-line {
  width: 100%;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
  margin: 0 12% 0 12%;
}

/* .main-full{
  float: none;
  width: auto;
  max-width: none;
}



.group{
  max-width: 2700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
} */
ol {
  list-style: none;
  padding: 0;
  display: block;
  margin: 0 auto;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

#content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
}

.item {
  margin: 0 15px 30px 15px;
  width: calc(16.666% - 30px);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1169px) {
  .item {
    width: calc(50% - 30px);
  }
}

@media screen and (min-width: 1170px) and (max-width: 1539px) {
  .item {
    width: calc(33.333% - 30px);
  }
}

@media screen and (min-width: 1540px) and (max-width: 1909px) {
  .item {
    width: calc(25% - 30px);
  }
}

@media screen and (min-width: 1910px) and (max-width: 2279px) {
  .item {
    width: calc(20% - 30px);
  }
}

.list-wrapper {
  padding: 27px 0 27px;
  max-width: 2700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .list-wrapper {
    max-width: 420px;
  }
}

@media screen and (max-width: 1169px) and (min-width: 961px) {
  .list-wrapper {
    max-width: 900px;
  }
}

@media screen and (max-width: 1539px) and (min-width: 1411px) {
  .list-wrapper {
    max-width: 1350px;
  }
}

@media screen and (max-width: 1909px) and (min-width: 1861px) {
  .list-wrapper {
    max-width: 1800px;
  }
}
