@import url('https://fonts.googleapis.com/css?family=Nunito');

$bg-color: #e2e2e2;
$border: 2px solid #d7d7d8;
$font_deesa: 'Nunito', sans-serif;
$color_font_deesa: #444;

h3{
  font-family: $font_deesa;
  margin: 0;
  padding: 10px;
  padding-left: 26%;
}
