    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-9 rect">
                  <div class="form-group">
                    <span>Title:</span>
                    <span>{{designsItem.title}}</span>
                  </div>
                  <div class="form-group">
                    <span>Description:</span>
                    <span>{{designsItem.description}}</span>
                  </div>
                  <div class="form-group">
                    <span>Image:</span>
                    <span>{{designsItem.designMainImg}}</span>
                  </div>

                  <span class="glyphicon glyphicon-plus"></span>
              </div>
            </div>
          </div>
        </div>
      </div>


<!--       <div class="thumbnail" >
          <div class="caption">
            <h4>{{ designsItem.title }}</h4>
            <span></span>

            <a [routerLink]="['/designs/:id', designsItem._id]" class="btn btn-default btn-md btn-block" role="button"><i class="glyphicon glyphicon-zoom-in"></i> Details</a>
          </div>
        </div> -->
