<div class="card teaser-wrapper-design" (mouseenter) ="changeImgHover($event)" (mouseout)="changeImgHover($event)">
  <a [routerLink]="['/designs/view', designsItem._id]" role="button">
    <img class="card-img-top resize-img" [ngClass]="hover" src="{{designsItem.designMainImg}}" alt="Card image cap">

  <div class="card-block">
    <p class="card-text" (mouseenter) ="changeImgHover2($event)" (mouseout)="changeImgHover2($event)">{{designsItem.description}}</p>
  </div>
</a>
<div class="card-footer text-muted">
    <span>{{designsItem.title}}</span>
</div>
</div>


<!-- <div class="form-group">
  <span>Stats:</span>
  <span>{{designsItem.views}}</span>
  <span>{{designsItem.likes}}</span>
  <span>{{designsItem.comments}}</span><

</div> -->

<!-- * params: {_id, title, creator, description, designGallery[], designMainImg, likedBy[]}
 -->
