.wrapper-img-design {
  position: relative;
 border-radius: 1px solid black;
 text-align: center;
}

.resize-product{
  height: 250px;
  width: 250px;
   margin: auto;
}

 .resize-design{
  position: relative;
  height: 100px;
  width: 100px;
  right: 200px;
}

.buy-right-side{
/*   background-color: #DCE9EA; */
/*   border: 1px solid grey; */
}
