<div class="container-fluid row">
  <div class="col-sm-12 col-md-3">
    <div *ngIf='accountInfo'>
      <user-info [accountInfo]="accountInfo"></user-info>
    </div>
  </div>
  <div class="col-md-9">
    <div *ngIf='designsList'>
      <designs-list [designsList]="designsList"></designs-list>
    </div>
    <div *ngIf='checkLoggedUser()'>
      <div class="d-flex justify-content-center">
        <a class="btn-new-design" [routerLink]="['/designs/new']">Añadir diseño</a>
      </div>
    </div>
  </div>
</div>

