<div class="all-wrapper">
	<div class="row">
      <div id="signup-wrapper">  
        <div class="row signup-info">
        <div class="col-12 col-md-6 col-lg-6 register-as">
           <h1>Regístrate</h1>
          </div>
        <div class="col-12 col-md-6 col-lg-6 role-content sm-flex-first">
           <h3>Si ya estás registrado <br/> <a [routerLink]="['/login']">¡Logeate!</a> </h3>
          </div>
          </div>
  
                 

          <div *ngIf="formPhase === 0" class="choose-role">
            <div class="row">
                <div (click)="changePhaseDesigner()" class="type-user col-12 col-md-12 col-lg-12">
                  <div class="row">
                  <div class="col-12 col-md-4 col-lg-4 role-content">
                    <img class="image-fluid role-ima" src="assets/images/designer_user.png"  alt="Fan user">
                  </div>
                  <div class="col-12 col-md-8 col-lg-8 role-content">
                    <h2>Diseñador</h2>

                    <p>Lorem ipsum dolor sit equam norem ito suc numak til ferrem. Lorem ipsum dolor sit equam norem ito suc numak til ferrem. Lorem ipsum dolor sit equam norem ito suc numak til ferrem.</p>
                  </div>
                  </div>
                </div>
                <div (click)="changePhaseFan()" class="type-user col-12 col-md-12 col-lg-12">
                  <div class="row">
                  <div class="col-12 col-md-4 col-lg-4 role-content">
                    <img class="image-fluid role-ima" src="assets/images/fan_user.png"  alt="Fan user">
                  </div>
                  <div class="col-12 col-md-8 col-lg-8 role-content">
                    <h2>Fan / Bussiness</h2>

                    <p>Lorem ipsum dolor sit equam norem ito suc numak til ferrem. Lorem ipsum dolor sit equam norem ito suc numak til ferrem. Lorem ipsum dolor sit equam norem ito suc numak til ferrem.</p>
                  </div>
                  </div>
                </div>
            </div>
          </div>

        <div *ngIf="formPhase === 1" id="form-wrapper">  
         <div class="row">
          <div class="col-12 col-md-2 col-lg-2" style="display: flex;">
               <i (click)="resetPhase()" class="fa fa-angle-left signup-back" aria-hidden="true"> </i>
          </div>


       <div class="col-12 col-md-10 col-lg-10">
        <form #signupForm="ngForm" (ngSubmit)="signupSubmit()" novalidate>
                <div class="form-group">
			    				<input type="text" name="username" id="username" class="form-control input-sm"  [(ngModel)]="user.username" placeholder="Username" minlength="3" maxlength="15"  #username="ngModel" required>
			    			</div>

                

			    			<div class="row">
			    				<div class="col-xs-5 col-sm-5 col-md-5">
			    					<div class="form-group">
			                <input type="text" [(ngModel)]="user.userInfo.name" name="name" id="name" class="form-control input-sm" placeholder="Nombre" required>
			    					</div>
			    				</div>
			    				<div class="col-xs-5 col-sm-5 col-md-5">
			    					<div class="form-group">
			    						<input type="text" [(ngModel)]="user.userInfo.surname" name="surname" id="surname" class="form-control input-sm" placeholder="Apellido" required>
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				<input type="email" [(ngModel)]="user.email"  name="email" id="email" class="form-control input-sm" placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-5 col-sm-5 col-md-5">
			    					<div class="form-group">
			    						<input type="password" [(ngModel)]="user.password" name="password" id="password" class="form-control input-sm" placeholder="Password" minlength="7" #password="ngModel"  required>
			    					</div>

			    				</div>
			    				<div class="col-xs-5 col-sm-5 col-md-5">
			    					<div class="form-group">
			    						<input type="password" name="password-confirmation" 
                      [(ngModel)]="passwordConfirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirmar Password" minlength="7" #passwordConfirm="ngModel" required>
			    					</div>
			    				</div>

                  <div *ngIf="passwordConfirm.value !== '' && passwordConfirm.value === password.value" class="col-xs-2 col-sm-2 col-md-2">
                    <i class="fa fa-check confirmedPassword" aria-hidden="true"></i>
			    				</div>
			    			</div>

                <div *ngIf="passwordConfirm.value !== password.value" class="alert alert-warning">Las contraseñas deben ser idénticas.
                </div>

                <div *ngIf="error" class="alert alert-danger alert-signup" role="alert">{{ error.statusText }}</div>
			    			
			    			<button [disabled]=" (!signupForm.valid) || (passwordConfirm.value !== password.value)" type="submit" class="btn btn-info btn-block btn-signup">
			    			Registrarse</button>
          </form>
         </div>
       </div>

        </div>

    </div>
	</div>
</div>