<div *ngIf="currentView == 'Cuenta'">
     <form (ngSubmit)="submitForm()" #myForm="ngForm">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="accountInfo.user.userInfo.name" name="accountInfo.user.userInfo.name">
        </div>
        <div class="form-group">
          <label for="model">Email</label>
          <input type="text" class="form-control" [(ngModel)]="accountInfo.user.email" name="accountInfo.user.email">
        </div>
        <div class="form-group">
          <label for="phone1">Teléfono</label>
          <input type="number" class="form-control" [(ngModel)]="accountInfo.user.userInfo.phone1" name="accountInfo.user.userInfo.phone1">
        </div>
        <div class="form-group">
          <label>Teléfono alternativo</label>
          <input type="number" class="form-control" [(ngModel)]="accountInfo.user.userInfo.phone2" name="accountInfo.user.userInfo.phone2">
        </div>
        <div class="form-group">
          <label>Profesión</label>
          <input type="text" class="form-control" [(ngModel)]="accountInfo.user.userInfo.profession" name="accountInfo.user.userInfo.profession">
        </div>

        <button type="submit" class="btn">Guardar</button>
      </form>
</div>

<div *ngIf="currentView == 'Contraseña'">
        <form (ngSubmit)="submitForm()" #myForm="ngForm">
           <div class="form-group">
             <label for="name">Nueva contraseña</label>
             <input type="password" class="form-control"
             name="accountInfo.user.password">
           </div>

           <div class="form-group">
              <label for="name">Repite contraseña</label>
              <input type="password" class="form-control">
            </div>

            <div class="form-group">
                <label for="name">Antigua contraseña</label>
                <input type="password" class="form-control" [(ngModel)]="accountInfo.user.oldPassword" name="accountInfo.user.oldPassword">
              </div>
           <button type="submit" class="btn">Guardar</button>
         </form>
</div>

<div *ngIf="currentView == 'Dirección'">
    <form (ngSubmit)="submitForm()" #myForm="ngForm">

      <div class="form-group">
         <label for="model">Calle</label>
         <input type="text" class="form-control" [(ngModel)]="accountInfo.user.addressInfo.streetName" name="accountInfo.user.addressInfo.streetName">
      </div>

      <div class="form-group">
          <label for="model">Número</label>
          <input type="text" class="form-control" [(ngModel)]="accountInfo.user.addressInfo.streetNumber" name="accountInfo.user.addressInfo.streetNumber">
        </div>

      <div class="form-group">
        <label for="model">Piso</label>
        <input type="text" class="form-control" [(ngModel)]="accountInfo.user.addressInfo.floor" name="accountInfo.user.addressInfo.floor">
      </div>

      <div class="form-group">
          <label for="model">Escalera</label>
          <input type="text" class="form-control" [(ngModel)]="accountInfo.user.addressInfo.stairs" name="accountInfo.user.addressInfo.stairs">
      </div>

      <div class="form-group">
          <label for="model">CP</label>
          <input type="text" class="form-control" [(ngModel)]="accountInfo.user.addressInfo.postalCode" name="accountInfo.user.addressInfo.postalCode">
      </div>
      <div class="form-group">
          <label for="model">Provincia</label>
          <input type="text" class="form-control" [(ngModel)]="accountInfo.user.addressInfo.provinceName" name="accountInfo.user.addressInfo.provinceName">
      </div>

      <div class="form-group">
          <label for="model">Ciudad</label>
          <input type="text" class="form-control" [(ngModel)]="accountInfo.user.addressInfo.townName" name="accountInfo.user.addressInfo.townName">
      </div>
      <div class="form-group">
          <label for="model">País</label>
          <input type="text" class="form-control" [(ngModel)]="accountInfo.user.addressInfo.country" name="accountInfo.user.addressInfo.country">
      </div>
        <button type="submit" class="btn">Guardar</button>
      </form>
</div>




<div *ngIf="currentView === 'Mis diseños' && currentUser.role === 'DESIGNER' ">
    <form (ngSubmit)="submitForm()" #myForm="ngForm">

      <div class="form-group">
         <label for="model">Mail</label>
         <input type="text" class="form-control" [(ngModel)]="accountInfo.user.designerInfo.contactMail" name="accountInfo.user.designerInfo.contactMail">
      </div>

      <div class="form-group">
          <label for="model">Página web:</label>
          <input type="text" class="form-control" [(ngModel)]="accountInfo.user.designerInfo.website" name="accountInfo.user.designerInfo.website">
        </div>

      <div class="form-group">
        <label for="model">Descripción</label>
        <input type="text" class="form-control" [(ngModel)]="accountInfo.user.designerInfo.description" name="accountInfo.user.designerInfo.description">
      </div>

      <a [routerLink]="['/designs/', accountInfo.user.username]" class="btn btn-default" role="button"><i class="fa fa-cubes" aria-hidden="true"></i> Mis diseños</a>
      <br><br>
      <button type="submit" class="btn">Guardar</button>
      </form>
</div>


