@import url("https://fonts.googleapis.com/css?family=Nunito");
.form-group {
  font-family: "Nunito", sans-serif;
  color: #444;
}

.form-control {
  font-family: "Nunito", sans-serif;
  color: #444;
}

.btn {
  font-family: "Nunito", sans-serif;
  display: block;
  background-color: #e2e2e2;
  border: 2px solid #d7d7d8;
  margin-top: 10px;
}

.btn:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn:focus {
  box-shadow: none;
}

.avatar-form-img {
  border-radius: 50%;
  border: 1px solid grey;
  margin: auto;
  height: 150px;
  width: 150px;
}
