@import url('https://fonts.googleapis.com/css?family=Nunito');

$bg-color: #e2e2e2;
$border: 2px solid #d7d7d8;
$font_deesa: 'Nunito', sans-serif;
$color_font_deesa: #444;

.form-group{
  font-family: $font_deesa;
  color: $color_font_deesa;
}

.form-control{
    font-family: $font_deesa;
    color: $color_font_deesa;
}


.btn{
  font-family: $font_deesa;
  display: block;
  background-color: $bg-color;
  border: $border;
  margin-top: 10px;
  &:hover{
    border: 2px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
}

.btn:focus{
  box-shadow: none;
}

.avatar-form-img {
  border-radius: 50%;
  border: 1px solid grey;
  margin: auto;
  height: 150px;
  width: 150px;
}
