@import url('https://fonts.googleapis.com/css?family=Nunito');

$font_deesa: 'Nunito', sans-serif;
$color_font_deesa: #444;
$bg-color: #e2e2e2;
$border: 2px solid #d7d7d8;

table,td, th, button, span, p, a{
  font-family: $font_deesa;
}

td{
  vertical-align: middle;
}

th{
  vertical-align: middle;
}

.btn{
  cursor: pointer;
}


