<div class="row">
  <div class="col-12 user-info-wrapper">
    <div class="avatar-wrapper">
      <img class="resize-avatar" src="{{accountInfo.user.avatarUrl}}">
    </div>

    <div class="row">
      <div class="col-12 centered no-padding">
        <span class="info-h1">{{accountInfo.user.username}}</span>
        <div class="centered">
          <span class="info-h2">{{accountInfo.user.addressInfo.townName}}</span>
          <span>,</span>
          <span class="info-h2">{{accountInfo.user.addressInfo.country}}</span>
          <hr class="style1">
          <!--             <p class="info-description">{{accountInfo.user.designerInfo.description}}</p> -->
        </div>
      </div>
    </div>
    <div class="row">
      <p class="profile-title-section">Contacto</p>
      <div class="col-12 centered">

          <p>{{accountInfo.user.designerInfo.contactMail}}</p>
          <div>
            <a href="{{accountInfo.user.designerInfo.socialMedia.facebook}}" class="fa fa-facebook"></a>
            <a href="{{accountInfo.user.designerInfo.socialMedia.twitter}}" class="fa fa-twitter"></a>
            <a href="{{accountInfo.user.designerInfo.socialMedia.google}}" class="fa fa-google"></a>
            <a href="{{accountInfo.user.designerInfo.socialMedia.linkedin}}" class="fa fa-linkedin"></a>
        </div>
      </div>
    </div>
    <div class="row">
        <p class="profile-title-section">Más opciones</p>
        <div class="col-12 centered">

        <div *ngIf='createDesignFlag;else foreignUser'>
          <p class="text-center">
            <a class="btn btn-deesa" [routerLink]="['/account']">Edit Account</a>
          </p>
        </div>
        <ng-template #foreignUser>
          <p class="text-center">
            <button (click)="messageButton($event)" class="btn btn-deesa">Message</button>
          </p>
          <p class="text-center">
            <button (click)="followButton($event)" class="btn btn-deesa">Follow</button>
          </p>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf='accountInfo'>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-9 rect">
            <div class="form-group">
              <span>{{accountInfo.user.avatarUrl}}</span>
            </div>
            <div class="form-group">
              <p>{{accountInfo.user.username}}</p>
              <span>{{accountInfo.user.addressInfo.townName}}</span>
              <span>{{accountInfo.user.addressInfo.country}}</span>
            </div>

            <div class="form-group">
                <span>{{accountInfo.user.designerInfo.socialMedia.twitter}}</span>
                <span>{{accountInfo.user.designerInfo.socialMedia.linkedin}}</span>
                <span>{{accountInfo.user.designerInfo.socialMedia.facebook}}</span>

              </div>

            <div *ngIf='createDesignFlag;else foreignUser'>

              <p class="text-center">
                <a class="btn btn-primary btn-sm" [routerLink]="['/account']">Edit Account</a>
              </p>
            </div>


            <ng-template #foreignUser>
              <p class="text-center">
                <button (click)="messageButton($event)" class="btn btn-primary btn-sm">Message</button>
              </p>
              <p class="text-center">
                <button (click)="followButton($event)" class="btn btn-primary btn-sm">Follow</button>
              </p>
            </ng-template>

            <span class="glyphicon glyphicon-plus"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 -->

