
@import url('https://fonts.googleapis.com/css?family=Antic+Slab|Arapey|Bellefair|Delius|Forum|Gilda+Display|Pompiere|Quattrocento|Wire+One');

$font1:'Quattrocento', serif;
$font2:'Arapey', serif;
$font3:'Antic Slab', serif;
$font4:'Forum', cursive;
$font5:'Bellefair', serif;
$font6:'Pompiere', cursive;
$font7:'Wire One', sans-serif;
$font8:'Delius', cursive;
$font9:'Gilda Display', serif;


.avatar-wrapper {
  width: 100%;
  text-align: center;
  height: auto;
  margin-top: 8px;
}

.resize-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.centered{
  width: 100%;
  text-align: center;
}

.info-h1{
  font-family: $font1;
  font-size: x-large;
  font-weight: bold;
}

.info-h2{
  font-family: $font2;
  font-size: x-large;
  font-weight: bold;
}

.info-h3{
  font-family: $font3;
}
.info-h4{
  font-family: $font4;
}

.info-h5{
  font-family: $font5;
}

.info-h6{
  font-family: $font5;
}
