@import url("https://fonts.googleapis.com/css?family=Antic+Slab|Arapey|Bellefair|Delius|Forum|Gilda+Display|Pompiere|Quattrocento|Wire+One");
.avatar-wrapper {
  width: 100%;
  text-align: center;
  height: auto;
  margin-top: 8px;
}

.resize-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.centered {
  width: 100%;
  text-align: center;
}

.info-h1 {
  font-family: "Quattrocento", serif;
  font-size: x-large;
  font-weight: bold;
}

.info-h2 {
  font-family: "Arapey", serif;
  font-size: x-large;
  font-weight: bold;
}

.info-h3 {
  font-family: "Antic Slab", serif;
}

.info-h4 {
  font-family: "Forum", cursive;
}

.info-h5 {
  font-family: "Bellefair", serif;
}

.info-h6 {
  font-family: "Bellefair", serif;
}
