
@import url('https://fonts.googleapis.com/css?family=Antic+Slab|Arapey|Bellefair|Delius|Forum|Gilda+Display|Pompiere|Quattrocento|Wire+One');
@import url('https://fonts.googleapis.com/css?family=Nunito');

$bg-color: #e2e2e2;
$border: 2px solid #d7d7d8;
$font_deesa: 'Nunito', sans-serif;
$color_font_deesa: #444;


p{font-family: $font_deesa;}

hr{
  margin-bottom: 0;
}

.btn-deesa{
  display: block;
  background-color: $bg-color;
  border: $border;
  margin-top: 5px;
  width: 100%;
  &:hover{
    border: 2px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  &:focus{
    box-shadow: none;
  }
}

.user-info-wrapper{
  margin: 25px 10px 25px 10px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.profile-title-section {
  margin: 0 0 10px 25px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .02em;
  text-transform: uppercase;
  color: #999;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  background: transparent;
}


.avatar-wrapper {
  width: 100%;
  text-align: center;
  height: auto;
  margin-top: 8px;
}

.resize-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.centered {
  width: 100%;
  text-align: center;
}

.info-wrapper{

  background-color:white;
  border-radius: 10px;
}

.info-h1 {
  font-family: "Quattrocento", serif;
  font-size: x-large;
  font-weight: bold;
}

.info-h2 {
  font-family: "Antic Slab", serif;
}

.info-h3 {
  font-family: "Bellefair", serif;
}

.info-description {
  font-family: 'Pompiere', cursive;
  font-size: larger;
}

.no-padding{
  padding: 0;
}

hr.style1 {
  height: 30px;
  border-style: solid;
  border-color:  rgba(0,0,0,.125);
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style1:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color:   rgba(0,0,0,.125);

  border-width: 0 0 1px 0;
  border-radius: 20px;
}

hr.style2 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

a{
  text-decoration: none;
  color: black;
}


